.row
  .col-lg-12
    %h1.page-header
      Collections
.row
  .col-lg-12
    .panel.panel-default
      .panel-heading
        Collections
        .pull-right
          = link_to 'New', new_backend_collection_path, class: 'btn btn-primary panel-btn'
      .panel-body
        .dataTable_wrapper
          %table#dataTables-example.table.table-striped.table-bordered.table-hover
            %thead
              %tr
                %th ID
                %th Title
                %th
            %tbody
              - @collections.each do |collection|
                %tr
                  %td
                    = collection.id
                  %td
                    = collection.title
                  %td
                    = link_to 'Edit', edit_backend_collection_path(collection), class: 'btn btn-primary'
                    = link_to 'Delete', backend_collection_path(collection), confirm: 'Are you sure?', method: :delete, class: 'btn btn-danger'

:javascript
  $(document).ready(function() {
      $('#dataTables-example').DataTable({
          responsive: true
      });
  });