.row
  .col-lg-12
    %h1.page-header
      Categories
.row
  .col-lg-12
    .panel.panel-default
      .panel-heading
        Categories
        .pull-right
          = link_to 'New', new_backend_category_path, class: 'btn btn-primary panel-btn'
      .panel-body
        .dataTable_wrapper
          %table#dataTables-example.table.table-striped.table-bordered.table-hover
            %thead
              %tr
                %th ID
                %th Title
                %th
            %tbody
              - @categories.each do |category|
                %tr
                  %td
                    = category.id
                  %td
                    = category.title
                  %td
                    = link_to 'Edit', edit_backend_category_path(category), class: 'btn btn-primary'
                    = link_to 'Delete', backend_category_path(category), confirm: 'Are you sure?', method: :delete, class: 'btn btn-danger'

:javascript
  $(document).ready(function() {
      $('#dataTables-example').DataTable({
          responsive: true
      });
  });